*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}
body {
    font-family: Rubik;
    font-size: 12px;
    color: #616161;
}
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.main {
    flex:1 1 auto;
}
[class*="__container"]{
    max-width: 1057px;
    margin: 0 auto;
}
.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 50;
}
.header__container {
    display: flex;
    min-height: 114px;
    align-items: center;
}
.header__logo {
}
.header__menu {
    flex:1 1 auto;
}
.menu {
    display: flex;
    justify-content:flex-end;
}
.menu__list {
    display:flex;
}
.menu__item {
    margin:0 40px 0 0;
}
.menu__link {
font-family: Raleway;
font-weight: 700;
font-size: 10px;
line-height: 1.2;
letter-spacing: 1px;
color: #000000;
text-transform: uppercase;
}
.header__button {
    flex:0 0 252px;
    display: flex;
    justify-content:flex-end;
}
.button {
display:inline-block;
text-transform: uppercase;
font-family: Raleway;
font-weight: 800;
font-size: 10px;
line-height: 12px;
letter-spacing: 1px;
color: #FCFDFE;
background-color: #EC5863;
border-radius: 5px;
padding:14px 30px;
}
.button:hover {
    background-color: #FCFDFE;
    color:#4285F4;
    border: 1px solid #4285F4;
}
.button__blue {
    background-color: #4285F4;
}
/*---------------------------------------------------------------------------------*/
.text__block__title {
font-weight: 700;
font-size: 44px;
line-height: 126%;
color:#000000;
}
.text__block__title:not(:last-child) {
    margin:0 0 12px 0;
}
.text__block__title span {
    color:#EC5863;
}
.text__block__title_blue span {
    color:#4285F4;
}
.text__block__text {
    line-height: 138.5%;
    color:#616161;
}
.text__block__text:not(:last-child) {
    margin: 0 0 24px 0;
}
.get-started {
    background-color: #FAFBFD;
    
}
.get-started__container {
    padding:150px 15px 50px 15px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.get-started__container::before{
    content:"";
    position:absolute;
    width:100vw;
    height: 100%;
    right: 252px;
    top:0;
    background-color: #EC5863;
    border-radius: 30px 0px 0px 30px;
    transform: translate(100%);
}
.get-started-content {
    flex:0 1 48%;
}
.get-started__text-block {
    max-width: 410px;
}

.get-started__video {
    padding: 60px 0 0 0;
    flex:1 1 100%;
    padding:0 0 0 20px;

}
.get-started__body {
    padding: 0 0 0 12px;
   
}
.get-started__icon {
    flex: 0 0 40px;
}
.get-started__title {
    font-size: 13px;
    line-height: 126%;
    color:#B0B0B0;
}
.get-started__title:not(:last-child) {
    margin:0 0 5px 0;
}
.get-started__text {
    font-size: 9px;
    line-height: 126%;
    letter-spacing: 0.165em;
    color:#000000;
    text-transform: uppercase;
    
}
.get-started-img {
    flex:0 1 52%;
    z-index: 2;
}
.get-started-img img {
    max-width: 100%;
    
}
.video-get-started {
    display: inline-flex;
    align-items: center;
}
/*------------------------------------------------------------------------------------*/
.stay_safe {
    padding: 80px 0 0 0;
}
.stay_safe__container {
    display: flex;
    align-items: center;
}
.stay_safe__media {
    flex:0 1 50%;
    padding: 0 0 0 47px;
}
.media_stay_safe__img img{
    position:relative;
    z-index: 2;
}
.stay_safe__content {
    flex:0 1 50%;
}
.media_stay_safe {
    width:373px;
    padding: 56px 0 27px 0;
    text-align: center;
    position: relative;
}
.media_stay_safe__item {
    position: absolute;
    border-radius: 30px;
    background-color: #EC5863;
    width:77px;
    height: 77px;
}
.media_stay_safe__item1 {
    top:0;
    left:0;
    width: 147px;
    height: 147px;
}
.media_stay_safe__item2 {
    bottom:30px;
    left:33px;
}
.media_stay_safe__item3 {
    bottom: 157px;
    right:34px;
}
/*------------------------------------------------------------------------*/
.experts {
    background-color: #FAFBFD;
    padding: 103px 0 116px 0;
}
.experts__statistic {
    margin: 0 0 80px 0;
}
.statistic-experts {
    max-width: 655px;
    margin:0 auto;
    position: relative;   
}
.statistics-experts__body {
    background-color: #fff;
    box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
    border-radius: 16px;
    position: relative;
    z-index: 2;
}
.statistics-experts-body {
    padding: 25px 80px;
    display: flex;
    align-items: center;
}
.statistics-experts__body__item {
    flex:1 1 auto;
    text-align: center;
}
.statistics-experts__body__item__value {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.2;
   letter-spacing: 1px;
   color: #EC5863;
   margin-bottom: 5px;
}
.statistics-experts__body__item__text {
    font-weight: 700;
    font-size: 11px;
    line-height: 1.8;
    letter-spacing: 3px;
    text-transform: uppercase;
    color:#000000;
}
.statistics-experts__decor {
    position: absolute;
    background-color: #EC5863;
    border-radius: 30px;
}
.decor1 {
    width:65px;
    height:65px;
    transform: rotate(-30deg);
    bottom: -21px;
    left: -21px;
    border-radius: 16px;
}
.decor2 {
    width:97px;
    height: 97px;
    transform: rotate(25deg);
    right:50%;
    top:-40px;
}
.decor3 {
    width:128px;
    height:128px;
    transform: rotate(-30deg);
    right: -50px;
    top:-15px;
}
/*-------------------------------------------------------------------------*/
.experts__body {
    display: flex;
    align-items: center;
    margin:80px 0 0 0;
}
.experts__content {
    flex:0 1 50%;
    padding:0 15px 0 15px;
}
.experts__text-block {
    max-width: 400px;
}
.experts__video {
    flex:0 1 50%;
}
/*--------------------------------------------------------------------------*/
.health {
    padding:80px 0 0 0;
}
.health__container {
}
.health__text-block {
    max-width: 720px;
    text-align: center;
}
.text__block__center {
    margin:0 auto;
}
.ww {
  max-width: 600px;
  margin: 0 auto;
}
